body{
    background-color: #1e1e1e;
    color: white;
}

#notepad{
    background-color: #adb5bd;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 15px;
    font-size: larger;
    border: none;
}

label{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-thickness: thin;
    
}

.btn{
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

#save{
    background-color: #198754;
}

#delete{
    background-color: #dc3545;
}
